/* Global */
*{
	box-sizing: border-box;
	position: relative;
}
body{
	font-family: "微軟正黑體";
}

/* Component */
.wrapper{
	width: 100%;
	height: 100vh;
	background: linear-gradient(#4c68d7,#8a3ab9,#bc2a8d,#cd486b,#e95950,#fbad50,#fccc63);
}

/* Camera */
.camera{
	width: 0px;
	height: 0px;
	border-radius: 50px;
	border: 10px solid #fff;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;

	animation: 
		ballUp 0.5s 1s forwards,
		ballDown 0.2s 1.5s ease-in forwards,
		cameraIn 0.3s 1.7s forwards;

	perspective: 500px;
	/* 消失點透視設定 */
}
@keyframes ballUp{
	0%{width: 5px;height: 5px;top: 50%;opacity: 0;}
	20%{opacity: 1;}
	100%{width: 5px;height: 5px;top: 10%;opacity: 1;}
}
@keyframes ballDown{
	0%{top: 10%}
	100%{top: 50%}
}
@keyframes cameraIn{
	0%{width: 5px;height: 5px;}
	80%{width: 250px;height: 250px;}
	100%{width: 200px;height: 200px;}
}

/* Lens */
.lens{
	width: 0px;
	height: 0px;
	border-radius: 50%;
	border: 15px solid #fff;
	opacity: 0;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

	animation: lensIn 0.3s 1.8s forwards;
}
@keyframes lensIn{
	0%{width: 0;height: 0;opacity: 0;}
	20%{opacity: 1;}
	80%{width: 180px;height: 180px;}
	100%{width: 100px;height: 100px;opacity: 1;}
}

/* FlashLight */
.flashLight{
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	transform: scale(0);

	position: absolute;
	right: 20px;
	top: 20px;

	animation: flashLightIn 0.3s 2.1s forwards;
}
@keyframes flashLightIn{
	0%{transform: scale(0);}
	80%{transform: scale(1.3);}
	100%{transform: scale(1);}
}
.flashLight:after{
	content: '';
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
	opacity: 0;
	/* 一開始不會出現 */

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

	animation: flash 0.3s 3s;
	/* Way 2 */
	/*animation: flash 0.3s 3s 3;*/
}
@keyframes flash{
	0%{opacity: 0;}
	25%{opacity: 1;}
	50%{opacity: 0;}
	75%{opacity: 1;}
	100%{opacity: 0;}
	/* Way 2 */
/*	0%{opacity: 0;}
	100%{opacity: 1;}*/
}

/* Picture */
.picture{
	width: 250px;
	height: 250px;
	border: 10px solid #fff;
	background-color: #ccc;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	animation:
		pictureIn 1s 3.5s backwards,
		pictureFlip 1s 4.5s;

	overflow: hidden;
	transition: all 0.3s;
}
@keyframes pictureIn{
	0%{
		width: 120px;
		height: 0;
		opacity: 0;
		top: 100%;
		transform: translate(-50%,0) rotateX(0deg);
	}
	10%{
		opacity: .5;
	}
	100%{
		width: 120px;
		height: 120px;
		opacity: 1;
		top: 100%;
		transform: translate(-50%,0) rotateX(0deg);
	}
}
@keyframes pictureFlip{
	0%{
		width: 120px;
		height: 120px;
		top: 100%;
		transform: translate(-50%,0) rotateX(0deg) rotateY(0deg);
	}
	100%{
		top: 50%;
		transform: translate(-50%,-50%) rotateX(360deg) rotateY(360deg);
	}
}
.picture:hover{
	width: 400px;
	height: 400px;
	background-color: #fff;
	border: 0;
	padding: 20px;
}

/* Image Box */
.picture .imgBox{
	width: 100%;
	height: 300px;
	opacity: 0;
	overflow: hidden;

	animation: showImg 2s 5s forwards;
}
@keyframes showImg{
	0%{opacity: 0;}
	/* 90%{opacity: 0.8;} */
	100%{opacity: 1;}
}
.picture .imgBox img{
	width: 100%;
	display: block;
}

/* text */
.picture .text{
	opacity: 0;
	transform: translate(-20%,0);
	transition: all 0.4s 0.1s;
}
.picture:hover .text{
	opacity: 1;
	transform: translate(0,0);	
}
.picture .text h1{
	margin: 0;
	font-size: 24px;
	line-height: 40px;
	color: #333;
}
.picture .text h2{
	margin: 0;
	font-size: 16px;
	line-height: 30px;
	color: #333;	
}

/* Pointer */
.pointer{
	width: 25px;
	height: 25px;
	background-image: url('../images/pointer.svg');
	background-size: cover;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%,0);

	animation: pointerHover 1.5s 6.5s infinite cubic-bezier(.18,1.27,.82,.19);
}
@keyframes pointerHover{
	0%{top: 150%;opacity: 0;}
	20%{opacity: 1;}
	80%{opacity: 1;}
	100%{top: 60%;opacity: 0;}
}
.picture:hover ~ .pointer{
	visibility: hidden;
}