
div{
	width: 100px;
	height: 100px;
	

}
.red_box{
	background-color: red;
}
.yellow_box{
	background-color: yellow;
}
.blue_box{
	background-color: blue;
}
#blue_monster{
	border-color: #000;
	border-width: 2px;

}